# 选择调试器为 CMSIS-DAP
source [find interface/cmsis-dap.cfg]

# 设置 CMSIS-DAP 的 USB VID/PID
cmsis_dap_vid_pid 0xfaed 0x4870

# 选择接口为 JTAG (此调试器不支持 SWD)
transport select jtag

# 设置适配器速度 (kHz)
adapter speed 8000

# 选择目标芯片 STM32H7
source [find target/stm32h7x.cfg]

# 复位配置
reset_config srst_only srst_nogate
